@model  IEnumerable<PastaMVC.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
<h2>Ürün İşlemleri</h2>
<p>@Html.ActionLink("Yeni Ürün Ekle", "Create")</p>
<table class="table">
    <tr class="success">



        <th>Ürün Numarası</th>
        <th>Ürün Adı</th>
        <th>Kategorisi</th>
        <th>Ürün Resimi</th>
       <th></th>

     

    </tr>
    @foreach (var item in Model)
    {
        <tr class="warning">
            <td>@Html.DisplayFor(Productid => item.Productid)</td>
            <td>@Html.DisplayFor(ProductName => item.ProductName)</td>
            <td>@Html.DisplayFor(modelItem => item.Kategori.KategoriName)</td>
            <td>
                <img src="~/Content/UrunResimleri/@item.ProductResim" alt="image" width="100" height="30">
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Productid })

                @Html.ActionLink("Sil ", "Delete", new { id = item.Productid })
            </td>

        </tr>
    }
</table>
