@model  IEnumerable<PastaMVC.Models.Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
<h2>Kategori İşlemleri</h2>
<p>@Html.ActionLink("Yeni Kategori Ekle","Create")</p>
<table class="table">
    <tr class="success">
        <th>@Html.DisplayNameFor(model=>model.Kategoriid)</th>
        <th>@Html.DisplayNameFor(model => model.KategoriName)</th>
        <th>@Html.DisplayNameFor(model => model.KategoriResim)</th>
        <th></th>

 
      
    </tr>
     @foreach (var item in Model)
     {
        <tr class="warning">
            <td>@Html.DisplayFor(Kategoriid =>item.Kategoriid)</td>
            <td>@Html.DisplayFor(KategoriName => item.KategoriName)</td>
            <td><img src="~/Content/KategoriResimleri/@item.KategoriResim" alt="image" width="100" height="30"> </td>
            <td>@Html.ActionLink("Düzenle", "Edit", new { id = item.Kategoriid })
       
            @Html.ActionLink("Sil ", "Delete", new { id = item.Kategoriid })</td>
        </tr>
     }
</table>

