@model  IEnumerable<PastaMVC.Models.Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
<h2>Admin İşlemleri</h2>
<p>@Html.ActionLink("Yeni Admin Ekle", "Create")</p>
<table class="table">
    <tr class="success">
       
        <th>@Html.DisplayNameFor(model => model.AdminName)</th>
        <th>@Html.DisplayNameFor(model => model.AdminUserName)</th>
        <th>@Html.DisplayNameFor(model => model.AdminPassWord)</th>
       
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="warning">
         
            <td>@Html.DisplayFor(AdminName => item.AdminName)</td>
            <td>@Html.DisplayFor(AdminUserName => item.AdminUserName)</td>
            <td>@Html.DisplayFor(AdminPassWord => item.AdminPassWord)</td>
          
            <td>
                @Html.ActionLink("Sil ", "Delete", new { id = item.Adminid })
            </td>
        </tr>
    }
</table>



